/* Hide scrollbar for all browsers */
.hide-scrollbar {
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, Opera */
}
